<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" >
    <title>Items</title>

    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>

<body>

<h1>Items Page</h1>

<table>
    <tr>
        <td> <a href="items.html"> Items </a></td>
        <td> <a href="orders.html">Orders</a></td>
    </tr>
</table>

<br><br>
<a th:href="@{|/goToAddItemPage|}">+Add</a></span>

<table>
    <tbody>
    <tr>
        <td>№</td>
        <td>Name</td>
        <td>Price</td>
    </tr>
        <tr th:each="item : ${items}">
            <td th:text="${item.itemId}">|Item Id|</td>
            <td th:text = "${item.itemName}">|Item Name|</td>
            <td th:text="${item.itemPrice}">|Item Price|</td>
        </tr>
    </tbody>
</table>

</body>
</html>