<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Orders</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">




    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>

<h1>Orders Page</h1>

<table>
    <tr>
        <td> <a href="items.html"> Items </a></td>
        <td> <a href="orders.html">Orders</a></td>
    </tr>
</table>

<form id="addOrder" action="/searchByDate" method="post">
    <input type="date"   id="startDate" name="startDateString" />
    <input type="date"   id="endDate" name="endDateString" />
    <input type="submit" value="Ok">
</form>

<br><br>
<a th:href="@{|/order/add|}">+Add</a></span>


<table>
    <tbody>
    <tr>
        <td>№</td>
        <td>Name</td>
        <td>Price</td>
        <td>Date</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    <tr th:each="order : ${orders}">
        <td th:text="${order.orderId}">| Id |</td>
        <td th:text = "${order.orderName}">| Name |</td>
        <td th:text="${order.orderPrice}">| Price |</td>
        <td th:text="${order.orderDate}">| Date |</td>

        <td>
            <a th:href="@{|/orders/edit/${order.orderId}|}">Edit</a>
        </td>
        <td>
            <span data-toggle="modal" data-target="#deleteDialog"
                  th:attr="data-id=${order.orderId}, data-name=${order.orderName}">
                <a href="#" >Delete</a>
            </span>
        </td>
    </tr>
    </tbody>
</table>

<!-- Confirm delete Modal -->
<div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-danger">
                <h5 class="modal-title" id="exampleModalLabel">Delete order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Please confirm delete
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a id="deleteUrl" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>


<script src="../../resources/static/js/jquery.min.js"
        th:src="@{/resources/static/js/jquery.min.js}"></script>
<script src="../../resources/static/js/popper.min.js"
        th:src="@{/resources/static/js/popper.min.js}"></script>
<script src="../../resources/static/js/bootstrap.min.js"
        th:src="@{/resources/static/js/bootstrap.min.js}"></script>

<script>
    $('#deleteDialog').on('show.bs.modal', function (event) {
        var target = $(event.relatedTarget)
        $(this).find('.modal-body').text('Delete ' + target.data('name') + '?')
        document.getElementById('deleteUrl').href = '/orders/delete/' + target.data('id');
    })
</script>



</body>
</html>